<!-- Contenu Page CONTACT -->
<!-- appel api formsubmit.co -->
<form
  action="https://formsubmit.co/webmaster.adisperati@outlook.fr"
  method="POST"
>
  <label for="Email">Email</label>
  <input type="email" name="email" placeholder="your email" required />
  <label for="message">Message</label>
  <textarea
    id="message"
    name="message"
    rows="5"
    cols="33"
    placeholder="your message"
    required
  >
  </textarea>
  <button class="btn" type="submit">
    <i class="fa fa-envelope enveloppe"></i>
  </button>
</form>
