<h1 style="color: red;">IN PROGRESS</h1>
<form action="" method="post" class="form-example">
  <div>
    <label for="name" style="color: white">Enter your pseudo: </label>
  </div>
  <div>
    <input type="text" name="name" id="nameNickname" value="value" required />
  </div>
  <div class="menu-bouton">
    <section class="portfolio-experiment">
      <a type="submit" style="text-decoration: none" (click)=playButton()>
        <span class="text">JOUER</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
  </div>
  <div class="menu-bouton">
    <section class="portfolio-experiment">
      <a style="text-decoration: none" routerLink="/home">
        <span class="text">QUITTER</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
  </div>
</form>
<!-- BOUTON JOUER -->

<!-- BOUTON QUITTER -->
