<form class="form">
  <div>
    <label for="name" style="color: white">Veuillez entrer un pseudo: </label>
  </div>
  <div class="group">
    <input  type="text" id="nickname" name="nickname" placeholder="pseudo" [(ngModel)]="playerName" required minlength="4" />
  </div>
  <div class="menu-bouton">
    <section class="portfolio-experiment">
      <button
        style="text-decoration: none"
        id="playButton"
        value="nickname"
        (click)="playButton()"
      >
        <span class="text">JOUER</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </button>
    </section>
  </div>
  <div class="menu-bouton">
    <section class="portfolio-experiment">
      <button style="text-decoration: none" routerLink="/home">
        <span class="text">QUITTER</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </button>
    </section>
  </div>
</form>
