<div class="footer">
  <div class="footermenu">
    <div>
        <!-- bouton github -->
      <a
        class="fa fa-github bouton"
        style="font-size: 50px"
        href="https://github.com/Adispe"
        onclick="window.open(this.href); return false;"
      ></a>
    </div>
    <div class="date">
      <h2 style="font-size: 15px; color: white">
        {{ maDate | date: "dd-MM-yyyy" }}
      </h2>
    </div>
    <div>
        <!-- bouton linked -->
      <a
        class="fa fa-linkedin bouton"
        style="font-size: 50px"
        href="https://www.linkedin.com/in/antonin-disperati-65a83ba7/"
        onclick="window.open(this.href); return false;"
      ></a>
    </div>
  </div>
</div>
