<!-- Contenu Page CV -->
<div class="table">
  <div class="column">
    <!-- colonne1 -->
    <div class="cell" style="border-right: solid 3px skyblue">
      <!-- profil -->
      <div style="margin-bottom: 20px">
        <h2 style="text-align: center; font-family: ailerons; font-weight: bold; font-size: 25pt;">Profil</h2>
        <p>
          A la recherche d'une <span style="color: skyblue">ALTERNANCE</span>
        </p>

        <table>
          <tr>
            <th style="color: skyblue">Quand</th>
            <th>: de janvier 2022 à juillet 2024</th>
          </tr>
          <tr>
            <th style="color: skyblue">Où</th>
            <th>: Toulouse et périphérie</th>
          </tr>
          <tr>
            <th style="color: skyblue">Rythme</th>
            <th>: 3 jours entreprise par semaine</th>
          </tr>
          <tr>
            <th style="color: skyblue">Diplôme</th>
            <th>: Msc-Pro EPITECH (bac + 5)</th>
          </tr>
        </table>
      </div>
      <!-- competences -->
      <div style="margin-bottom: 20px">
        <h2 style="text-align: center ;font-family: ailerons; font-weight: bold; font-size: 25pt;">Compétences</h2>
        <table>
          <tr>
            <th>OS</th>
            <th style="color: skyblue">►</th>
            <th>Linux/Windows</th>
          </tr>
          <tr>
            <th>EMBARQUE</th>
            <th style="color: skyblue">►</th>
            <th>C(notions)</th>
          </tr>
          <tr>
            <th>POO</th>
            <th style="color: skyblue">►</th>
            <th>C++/JAVA</th>
          </tr>
          <tr>
            <th>GUI</th>
            <th style="color: skyblue">►</th>
            <th>Qt(notions)</th>
          </tr>
          <tr>
            <th>FRONTEND</th>
            <th style="color: skyblue">►</th>
            <th>HTML/CSS/JS</th>
          </tr>
          <tr>
            <th>BACKEND</th>
            <th style="color: skyblue">►</th>
            <th>SQL/PHP/JAVA</th>
          </tr>
          <tr>
            <th>FRAMEWORK</th>
            <th style="color: skyblue">►</th>
            <th>ANGULAR</th>
          </tr>
        </table>
      </div>
      <!-- hobbies -->
      <div style="margin-bottom: 20px">
        <h2 style="text-align: center; font-family: ailerons; font-weight: bold; font-size: 25pt;">Hobbies</h2>
        <ul>
          <li>
            Musique : <span style="color: skyblue">guitare</span>, viole de gambe
          </li>
          <li style="color: skyblue">Astrophotographie</li>
          <li>Plongée N2 FFESSM</li>
        </ul>
      </div>

      <!-- langues -->
      <div>
        <h2 style="text-align: center; font-family: ailerons; font-weight: bold; font-size: 25pt;">Langues</h2>
        <p>Français : Natif</p>
        <p>Anglais : <span style="color: skyblue">TOEIC</span> 905/990 (2018)</p>
      </div>
    </div>
    <!-- colonne2 -->
    <div class="cell">
      <!-- xp pro -->
      <div style="margin-bottom: 20px">
        <h2 style="text-align: center; font-family: ailerons; font-weight: bold; font-size: 25pt;">Expérience Professionnelle</h2>
        <p>
          2018-2021 :
          <span style="color: skyblue">AKKA Technologies -Toulouse</span>
        </p>
        <ul>
          <li>2021 : Autonomous Driving Developer</li>
          <li>2019-2020 : Cabin Retrofit Engineering</li>
          <li>2018-2019 : Technicien Modification Avion</li>
        </ul>
      </div>
      <!-- stages -->
      <div style="margin-bottom: 20px">
        <h2 style="text-align: center; font-family: ailerons; font-weight: bold; font-size: 25pt;">Stages</h2>
        <p>
          2018 : <span style="color: skyblue">AKKA Technologies -Toulouse</span>
        </p>
        <ul>
          <li>Conception Outil Certification Cabine</li>
        </ul>
        <p>
          2017 :
          <span style="color: skyblue">Merlin Aviation – Rijen (Pays-Bas)</span>
        </p>
        <ul>
          <li>Simulateur de Vol Boeing 737NG</li>
        </ul>
      </div>
      <!-- etudes -->
      <div>
        <h2 style="text-align: center; font-family: ailerons; font-weight: bold; font-size: 25pt;">Etudes</h2>
        <p>
          2021-2024 : <span style="color: skyblue">EPITECH Msc-Pro (bac+5)</span>
        </p>
        <p>2020-2021 : C /C++ developer – AJC Classroom</p>
        <p>
          2017-2018 : Licence Professionnelle Maintenance Aéronautique - Blagnac
        </p>
        <p>2015-2017 : DUT Génie Mécanique et Productique - Rennes</p>
      </div>

      <!-- bouton dl PDF -->
      <div style="text-align: center">
        <a
          class="fa fa-file-pdf-o bouton"
          style="font-size: 50px"
          href="../../assets/img/CV_DISPERATI.pdf"
          download="CV_DISPERATI"
        >
        </a>
      </div>
    </div>
  </div>
</div>
