.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #131a21;
  padding: 0px;
  border-top: solid 4px;
  border-color: skyblue;
  height: 60px;
  z-index: 10;
}

//Ensemble des boutons + date
.footermenu {
  display: flex;
  justify-content: center;
}

//Bouton github et linkedin
.bouton {
  text-align: center;
  height: 50px;
  width: 50px;
  color: skyblue;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}

//style de la date
.date {
  text-align: center;
  height: 50px;
  padding-top: 15px;
}

.bouton:hover {
  color: white;
  transition: 0.4s;
}
