<!-- Component Abandonné, remplacé par le sidemenu -->
<div class = "menu">
    <div class="menu-bouton">
        <section class="portfolio-experiment">
          <a style="text-decoration:none" routerLink="/about">
            <span class="text">A PROPOS</span>
            <span class="line -right"></span>
            <span class="line -top"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span>
          </a>
        </section>
    </div>
    <div class="menu-bouton">
        <section class="portfolio-experiment">
          <a style="text-decoration:none" routerLink="/cv">
            <span class="text">CV</span>
            <span class="line -right"></span>
            <span class="line -top"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span>
          </a>
        </section>
    </div>
    <!-- <div class="menu-bouton">
        <section class="portfolio-experiment">
          <a style="text-decoration:none">
            <span class="text">Autres</span>
            <span class="line -right"></span>
            <span class="line -top"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span>
          </a>
        </section>
    </div> -->
</div>