<!-- Page d'accueil photo + titre + description + triptique -->
<div class="container">
  <div class="containerdescr">
    <div class="descr">
      <div class="divphoto">
        <img class="photo" src="../../assets/img/photo.jpg" />
        <div class="divphoto-corner-border"></div>
      </div>

      <div class="txt">
        <h2
          style="
            text-align: center;
            font-family: ailerons;
            font-weight: bold;
          "
        >
          BIENVENUE!
        </h2>
        <p style="font-family: proxima-nova, monospace">
          Je m'appelle Antonin, Bienvenue sur mon site personnel! Vous trouverez
          ici une vitrine de mon savoir faire, et quelques informations à mon sujet.
        </p>
      </div>
    </div>
  </div>

  <!-- TRIPTIQUE -->
  <div class="containerimg">
    <div class="item" id="img1">
      <div class="titre1">
        <p style="margin-left: 0px; font-size: 40pt;">INFORMATIQUE</p>
      </div>
      <div class="txt1">
        <p>
          Eprouvant un grand interêt pour les nouvelles technologies et les
          progrès techniques, j'ai décidé de faire de ce domaine ma vie
          quotidienne.
        </p>
      </div>
    </div>

    <div class="item" id="img2">
      <div class="titre1">
        <p style="margin-left: 0px; font-size: 40pt">AERONAUTIQUE</p>
      </div>
      <div class="txt1">
        <p>
          Passionné depuis de nombreuses années, j'y ai entamé une activité
          professionnelle. L'aéronautique représente pour moi une source
          d'inspiration et de motivation sur de nombreux aspects de ma vie.
        </p>
      </div>
    </div>

    <div class="item" id="img3">
      <div class="titre1">
        <p style="margin-left: 0px; font-size: 40pt">MUSIQUE</p>
      </div>
      <div class="txt1">
        <p>
          J'ai débuté la musique très tôt et je ne saurais m'en passer. Au
          conservatoire ou entre amis, c'est l'activité de prédilection pour
          partager de bons moments, et mettre à l'épreuve ses capacités de
          musicien et de membre de groupe.
        </p>
      </div>
    </div>
  </div>
</div>
