.app-component-div {
  width: 100%;
  padding: 0px;
}

.background {
  background-position: center;
  background-image: url("../../../assets/img/planet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
//   height: 100%;
min-height: 70vh;
max-height: 100%;
  // background-tra
}
