//Container de photo
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    
}

//Style des photos
.photo {
    margin: 10px;
    border: solid 2px;
    border-color: black;
    box-shadow: 2px 2px 5px black;
}

//effet de survol des photos
.photo:hover {
    transform: scale(1.2);
    transition: 0.1s;
}