<!-- Contenu Page A PROPOS -->
<div class="about">
  <div class="titreabout">
    <h2>A propos de moi</h2>
  </div>
  <div class="descrabout">
    <p>
      Je m'appelle Antonin, je me reconvertis dans l'informatique. Après un
      passage dans l'aéronautique en bureau-d'étude, j'ai pris conscience du
      potentiel d'évolution, de liberté et de diversité de ce domaine. J'ai donc
      décidé de lâcher mon CDI et son confort afin de me lancer dans une
      nouvelle aventure, malgré les difficultés que cela implique. Vous
      trouverez ici une vitrine de mon savoir faire!
    </p>
  </div>
</div>
