//titre de la section
.titreabout {
  text-align: center;
  font-family: proxima-nova, monospace;
  color: white;
}

//Contenu de la section
.descrabout {
  font-family: proxima-nova, monospace;
  color: white;
  text-align: justify;
  max-width: 70%;
  margin: auto;
}

//div container
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
