//titre de la section
@font-face {
  font-family: "ailerons";
  src: url("../../../../font/Ailerons/Ailerons-Regular.otf");
}

.titreabout {
  text-align: center;
  font-family: ailerons;
  color: white;
}

//Contenu de la section
.descrabout {
  font-family: proxima-nova, monospace;
  color: white;
  text-align: justify;
  max-width: 70%;
  margin: auto;
}

//div container
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
